<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .action-buttons {
            margin-bottom: 10px; 
        }
    </style>
</head>
<body>
    <div>
        <a href="/">Night at Museum</a>
        <a href="/arts/add"><button>Add Art</button></a>
    </div> <br><br>
    <div>
        <img src="<%= arts.photo %>" style="width: 50%;">
    </div>   
    <form method="post" action="/arts/<%= arts.id %>/edit/">
        <div>
            <label for="name">Art Name</label>
            <br>
            <input type="text" name="name" id="name" autocomplete="off" value="<%= arts.name %>">
        </div>
        <div>
            <label for="artist">Artist Name</label>
            <br>
            <input type="text" name="artist" id="artist" autocomplete="off" value="<%= arts.artist %>">
        </div>
        <div>
            <label for="date">Created Date</label>
            <br>
            <input type="date" name="date" id="date" autocomplete="off" value="<%= arts.formatDate %>">
        </div>
        <div>
            <label for="photo">Art Photo URL</label>
            <br>
            <input type="text" name="photo" id="photo" autocomplete="off" value="<%= arts.photo %>">
        </div>
        <div>
            <label for="placeOfOrigin">Art Origin</label>
            <br>
            <input type="text" name="placeOfOrigin" id="placeOfOrigin" autocomplete="off" value="<%= arts.placeOfOrigin %>">
        </div>
        <div>
            <label for="description">Art Description</label>
            <br>
            <input type="text" name="description" id="description" autocomplete="off" value="<%= arts.description %>">
        </div>
        <br>
        <button type="submit">Update Art</button>
    </form>    
</body>
</html>
